---
import BlogPost from "@/components/BlogPost.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { Post } from "@/types/post.types";

// import Layout from '../layouts/Layout.astro';
const allPosts = Object.values<Post>(
	import.meta.glob("@/pages/posts/*.md", { eager: true }),
);

console.log(allPosts);
---

<BaseLayout>
  <h1>My Astro Site</h1>
  <h1>My Astro Learning Blog</h1>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {
      allPosts.map((post) => (
        <BlogPost title={post.frontmatter.title} url={post.url} />
      ))
    }
  </ul>
</BaseLayout>

<script
  define:vars={{
    allPosts,
  }}
>
  console.log(allPosts);
</script>
