---
import Blockquote from '@/components/Blockquote.astro';
import { Content, components } from './post-1.mdx'; // Only support import relative
---

<h2>Page astro</h2>

<Content
  components={{
    ...components,
    blockquote: Blockquote,
  }}
/>
